.pirmas {
  border-radius: 10px;
  padding: 0px 8px 8px 8px;
}

.pirmas:first-child .icon {
  color: rgba(255, 255, 0, 0.4);
  padding: 0px 8px 8px 8px;
}
.pirmas:nth-child(2) .icon {
  color: rgba(192, 192, 192, 0.5);
  padding: 0px 8px 8px 8px;
}
.pirmas:nth-child(3) .icon {
  color: rgba(181, 166, 66, 0.5);
  padding: 0px 8px 8px 8px;
}

.name h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.name li {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
