.header {
  height: fit-content;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  word-wrap: break-word;
  text-align: center;
}

.bike1 {
  color: #febb15;
}

.bike2 {
  color: #f06c24;
  text-align: center;
}

.giriaText {
  color: #826754;
  text-align: center;
}

.kmText {
  text-align: center;
}
